{% extends '::base.html.twig' %}
{% block body %}
    <div>
        {% block fos_user_content %}
        {% endblock fos_user_content %}

        {% block sonata_page_breadcrumb %}
        {% endblock %}

        {% block traore %}
        {% endblock %}

        {% block sonata_profile_title %}
        {% endblock %}

        {% block sonata_profile_content %}
        {% endblock %}

        {% block traore2 %}
        {% endblock %}
    </div>
{% endblock %}